@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

a, p, img{
    user-select: none; /* 選択禁止 */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
}
html {
    touch-action: manipulation;
    scrollbar-width: none;
    width: 100vw;
}
body {
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
myGameSite {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
}

.loginbox {
    position: absolute;
    background: rgb(255, 255, 255, .3);
    top: calc(50% - (90vh / 2));
    left: calc(50% - (30vw / 2));
    width: 30vw;
    height: 90vh;
    border-radius: 10%;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 0px 20px #9fc5e8;
    backdrop-filter: blur(8px);
    overflow: hidden;
}
p {
    font-size:8vh;
    color: aliceblue;
    font-family: "Bad Script", cursive;
    text-shadow: 0px 0px 6px #9fc5e8;
    letter-spacing: -1px;
    font-weight: 500;
}
.welcome {
    font-size:4vh;
    color: aliceblue;
    font-family: "Grandiflora One", cursive;
    text-shadow: 0px 0px 6px #9fc5e8;
    letter-spacing: -1px;
    font-weight: 400;
    margin: -12.5vh 0 12vh;
}
.prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload_button {
    aspect-ratio: 9/1; /*アスペクト比を１３：１（横：縦）に設定*/
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: rgb(238, 238, 238);
    border: solid 1px aliceblue;
    border-radius: 12px;
}
.upload_button img {
    margin-right: 2%;
    height: 90%;
}
.upload_button a {
    margin-left: 2%;
    font-family: "bad Script", cursive;
    font-size: 2vh;
    color: black;
}

textarea {
    width: 60%;
    margin: 5%;
    scrollbar-width: none;
    overflow: hidden;
}
.header__inner{
    height: 100%;
    padding: 20px 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.header__inner li{
    width: 500px;
}
.header__inner a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__nav{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    transition: ease .4s;
}
.nav__items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-items__item a{
    width: 100%;
    display: flex;
    font-size: 20px;
    margin:20px 0 20px 0;
}
.menu{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 260px;
}
#anderbar{
    width: 55%;
    height: 1px;
    position: relative;
    transition: ease .4s;
    display: block;
    background-color: #9fc5e8;
    box-shadow: 0 0 12px white;
}
/* ハンバーガーメニュー */
.header__hamburger{
    width: 80px;
    height: 100%;
}
.hamburger{
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
}
.hamburger span{
    width: 100%;
    height: 1px;
    position: relative;
    transition: ease .4s;
    display: block;
    background-color: #9fc5e8;
    box-shadow: 0 0 12px white;
    z-index: 1;
}
.hamburger span:nth-child(1){
    top: 0;
}
.hamburger span:nth-child(2){
    margin: 17px 0;
}
.hamburger span:nth-child(3){
    top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active{
    transform: translateX(0);
}
.hamburger.active span:nth-child(1){
    top: 18px;
    transform: rotate(25deg);
}
.hamburger.active span:nth-child(2){
    opacity: calc(0.1%);
}
.hamburger.active span:nth-child(3){
    top: -18px;
    transform: rotate(-25deg);
}
.icon{
    position: absolute;
    top: 0px;
    left: calc(50% - 119.26px);
}
.icon span{
    font-size: 55px;
    position: absolute;
    bottom: 0px;
}

@media (max-width: 999px) { /*スマホモード*/
    .loginbox {
        height: 95vh;
        width: 95vw;
        top: calc(50% - (95vh / 2));
        left: calc(50% - (95vw / 2));
    }
    @media (orientation: portrait) {    /*縦向き用（portrait: 肖像画）*/
        .upload_button a {
            font-size: 1.5vh;
        }
    }
    @media (orientation: landscape) {   /*横向き用（landscape: 風景）*/
        p {
            margin: 2vh 0vw 10vh 0vw;
            font-size: 12vh;
        }
        .welcome {
            font-size: 6vh;
            margin: -17vh 0 8vh;
        }
        .upload_button {
            width: 50%;
        }
        .upload_button img {
            height: 60%;
        }
        .upload_button a {
            font-size: 4vh;
        }
    }
}
@media (max-width: 1400px) {    /*パッドモード*/
    @media(min-width: 1000px) {
        .loginbox {
            width: 55vw;
            left: calc(50% - (55vw / 2));
        }
        .upload_button img {
            height: 70%;
        }
        @media (orientation: portrait) {
            .loginbox {
                height: 95vh;
                width: 95vw;
                top: calc(50% - (95vh / 2));
                left: calc(50% - (95vw / 2));
            }
            .upload_button {
                width: 65%;
            }
            .upload_button a {
                font-size: 2vh;
            }
        }
        @media (orientation: landscape) {
            p {
                margin: 5vh 0 10vh 0;
                font-size: 10vh;
            }
            .welcome {
                margin: -16vh 0 12vh;
            }
            .upload_button {
                width: 65%;
            }
        }
    }
}